# Add here external Python modules dependencies, one per line. Module names
# should match https://pypi.python.org/pypi names. For the full spec or
# dependency lines, see https://pip.readthedocs.org/en/1.1/requirements.html

# 2.1.0 is prone to segfaults, see upstream issue https://github.com/confluentinc/confluent-kafka-python/issues/1547
confluent-kafka != 2.1.0

msgpack >= 1.0.0, != 1.0.1
tenacity
